In [1]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
output_data_file = "Resources/student-merge.csv"
por_path = "Resources/student-por.csv"
math_path = "Resources/student-mat.csv"

por_df = pd.read_csv(por_path)
math_df = pd.read_csv(math_path)

In [26]:
students_df = pd.merge(por_df, math_df, on=["school","sex","age","address","famsize",
                                            "Pstatus","Medu","Fedu","Mjob","Fjob","reason",
                                            "guardian", "traveltime","nursery","higher",
                                            "internet","romantic","famrel","freetime",
                                            "goout","Dalc","Walc","health"])
students_df.columns = students_df.columns.str.replace("_x","_por")
students_df.columns = students_df.columns.str.replace("_y","_math")
students_df.to_csv(output_data_file)
students_df

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,studytime_math,failures_math,schoolsup_math,famsup_math,paid_math,activities_math,absences_math,G1_math,G2_math,G3_math
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,2,0,yes,no,no,no,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,2,0,no,yes,no,no,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,2,3,yes,no,yes,no,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,0,no,yes,yes,yes,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,2,0,no,yes,yes,no,4,6,10,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
365,MS,F,19,R,GT3,T,2,3,services,other,...,3,1,no,no,no,yes,0,7,5,0
366,MS,F,18,U,LE3,T,3,1,teacher,services,...,2,0,no,yes,yes,no,0,7,9,8
367,MS,F,18,U,GT3,T,1,1,other,other,...,2,1,no,no,no,yes,0,6,5,0
368,MS,M,17,U,LE3,T,3,1,services,services,...,1,0,no,no,no,no,3,14,16,16
369,MS,M,18,R,LE3,T,3,2,services,other,...,1,0,no,no,no,no,0,11,12,10